.cursor {
    z-index: 15082002;
    position: fixed;
    background-color: var(--tanh_color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px var(--tanh_color), 
    0 0 60px var(--tanh_color),
    0 0 100px var(--tanh_color);
    animation: colors 5s linear infinite;
    transform: translate(-50%, -50%);
    transition: all linear;
    display: none;
}

@keyframes colors {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.cursor:before {
    content: "";
    position: absolute;
    background-color: var(--tanh_color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transform: translate(-30%, -30%);
}

